# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma String URL
DATABASE_URL="postgresql://user:user@localhost:6500/postgres?schema=public"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=UwnTtPaz8HIeZDq7YtN7Kp3RX1sMX57nE6oS4BEKzl0=
# Auth Secret
AUTH_SECRET=UwnTtPaz8HIeZDq7YtN7Kp3RX1sMX57nE6oS4BEKzl0=

# Docker variables

# PostgreSQL user
POSTGRES_USER=user
# PostgreSQL password
POSTGRES_PW=user
# PostgreSQL database name
POSTGRES_DB=postgres
# PostgreSQLAdmin email
PGADMIN_MAIL=admin@email.com
# PostgreSQLAdmin password
PGADMIN_PW=admin